
.Name{
    font-size: 70px;
    color: rgb(91, 155, 135);
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 10px;
}
.Split_Left{
    height: 100%;
    width: 30%;
    position: fixed;
    left: 0px;
    margin-top: 90px;
    background-color:rgba(188, 224, 212, 0.425);
  }
.Split_Right{
    width: 60%;
    position: fixed;
    right: 0;
    margin-top: 80px;
  }
.Split_Left, p , h4 {
    margin-left: 10px;
  }
  hr.line{
    border: 1px solid rgb(188, 224, 212);
  }





